// --- BULMA-import - start -------------------
@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";
// https://bulma.io/documentation/elements/button/
// --- BULMA - finish -------------------------
@import './sass/layout/header';
@import './sass/layout/footer';
@import './sass/layout/book';
// ---- COLORS - start ---------------------------------
/* SCSS HEX */
$rich-black-fogra-29: #001524ff;
$ming: #15616dff;
$blanched-almond: #ffecd1ff;
$amber-sae-ece: #ff7d00ff;
$kobe: #78290fff;
/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #001524ff, #15616dff, #ffecd1ff, #ff7d00ff, #78290fff);
$gradient-right: linear-gradient(90deg, #001524ff, #15616dff, #ffecd1ff, #ff7d00ff, #78290fff);
$gradient-bottom: linear-gradient(180deg, #001524ff, #15616dff, #ffecd1ff, #ff7d00ff, #78290fff);
$gradient-left: linear-gradient(270deg, #001524ff, #15616dff, #ffecd1ff, #ff7d00ff, #78290fff);
$gradient-top-right: linear-gradient(45deg, #001524ff, #15616dff, #ffecd1ff, #ff7d00ff, #78290fff);
$gradient-bottom-right: linear-gradient(135deg, #001524ff, #15616dff, #ffecd1ff, #ff7d00ff, #78290fff);
$gradient-top-left: linear-gradient(225deg, #001524ff, #15616dff, #ffecd1ff, #ff7d00ff, #78290fff);
$gradient-bottom-left: linear-gradient(315deg, #001524ff, #15616dff, #ffecd1ff, #ff7d00ff, #78290fff);
$gradient-radial: radial-gradient(#001524ff, #15616dff, #ffecd1ff, #ff7d00ff, #78290fff);
/* custom colours*/
$background-color: $rich-black-fogra-29;
$primary-color: $blanched-almond;
$secondary-color: $ming;
$font-color: $amber-sae-ece;
// ---- COLORS - finish --------------------------------

// ---  MIXINS - start ---------------------------------
@mixin flex-all-centerd_columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@mixin flex-space-between_rows {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
// ---  MIXINS - finish --------------------------------

html, body {
  @include flex-all-centerd_columns;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: $background-color;
  color: $font-color;
}

.container {
 @include flex-all-centerd_columns;

  width: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  @include flex-space-between_rows;
  background-color: $background-color;
  margin-bottom: 20px;
}

.main {
  @include flex-all-centerd_columns;
  height: 100%;
}

.footer {
  @include flex-space-between_rows;
  background-color: $background-color;
  margin-top: 20px;
}

img {
  width: 90vw;
  max-width: 500px;
}

a.navbar-item {
  background-color: $background-color;
  color: $font-color;
  :hover {
    background-color: $primary-color;
    color: $background-color;
  }
}

.navbar {
  @include flex-space-between_rows;
  background-color: $background-color;
  // margin-bottom: 20px;
  color: $font-color;
}

.nav-list {
  @include flex-space-between_rows;
  background-color: $background-color;
  color: $font-color;
  
/*   .nav-item {  } */

  .nav-link {
    color: $font-color;
    margin-left: 10px;
    margin-right: 10px;
  }

  :hover {
    color: $primary-color;
    background-color: $secondary-color;
    // box-shadow: 1px 1px 1px 1px $font-color;
  }

}

